* {
  border: solid 1px red;
}

body {
  display: flex;
  height: 100vh;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 5vh auto;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  place-items: center;
  gap: 5px;
  background-color: #c9f4fe;
  border: solid 2px lightgray;
  width: 750px;
  height: 400px;
  padding: 5px;
}

.gameboard-cell {
  width: 95%;
  height: 95%;
  padding: 0;
}