* {
  border: solid 1px red;
}

body {
  display: flex;
  height: 100vh;
}

button:hover {
  cursor: pointer;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10px 0 auto;
}

.ship-container {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-right: auto;
  width: 25%;
}

.ship-container div:nth-child(1) {
  margin-top: auto;
}

.ship-container div:last-child {
  margin-bottom: auto;
}

.ship-placement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}

.ship-info {
  margin-left: auto;
  margin-right: 5px;
}

.ship-piece {
  height: 100%;
}

.five-length-piece {
  width: 177px;
}

.four-length-piece {
  width: 133px;
}

.three-length-piece {
  width: 100px;
}

.two-length-piece {
  width: 67px;
}

.gameboard {
  display: grid;
  grid-template-columns: 15px repeat(10, 37.5px);
  grid-template-rows: 15px repeat(10, 37.5px);
  place-items: center;
  background-color: #c9f4fe;
  border: solid 2px lightgray;
  padding: 15px;
}

.column-label {
  margin-bottom: 10px;
}

.row-label {
  margin-right: 10px;
}

.gameboard-cell {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #88d4e5;
  border: dashed 1px lightgray;
}

.gameboard-cell img {
  width: 100%;
  height: 100%;
}

.ship-image {
  background-image: url(./ship_transparent_background.gif);
  background-repeat: no-repeat;
}

.ship-image-5 {
  background-size: 178px 35px;
}

.ship-image-5-1 {
  background-position: 0px ;
}

.ship-image-5-2 {
  background-position: -35.6px;
}

.ship-image-5-3 {
  background-position: -71.2px;
}

.ship-image-5-4 {
  background-position: -106.8px;
}

.ship-image-5-5 {
  background-position: -142.4px;
}

.ship-image-4 {
  background-size: 133px 35px;
}

.ship-image-4-1 {
  background-position: 0px;
}

.ship-image-4-2 {
  background-position: -33.25px;
}

.ship-image-4-3 {
  background-position: -66.5px;
}

.ship-image-4-4 {
  background-position: -99.75px;
}

.ship-image-3 {
  background-size: 100px 35px;
}

.ship-image-3-1 {
  background-position: 0px;
}

.ship-image-3-2 {
  background-position: -33px;
}

.ship-image-3-3 {
  background-position: -67px;
}

.ship-image-2 {
  background-size: 67px 35px;
}

.ship-image-2-1 {
  background-position: 0px;
}

.ship-image-2-2 {
  background-position: -33px;
}
img {
  width: 100px;
  height: fit-content;
}

.horizontal {
  transform: rotate(0);
}

.vertical {
  transform: rotate(90deg);
}

.temp-rotate {
  position: absolute;
  top: 0;
  left: -100px;
}

.temp-rotate-horizontal {
  width: 100px;
  height: 38px;
}

.temp-rotate-vertical img {
  transform-origin: left bottom;
}

.temp-rotate-vertical-5 {
  width: 34px;
  height: 177px;
}

.temp-rotate-vertical-5 > .five-length-piece.vertical {
  width: 177px;
  height: 34px;
  transform: rotate(90deg) translateX(-20%);
}

.temp-rotate-vertical-4 {
  width: 38px;
  height: 133px;
}

.temp-rotate-vertical-4 > .four-length-piece.vertical {
  width: 133px;
  height: 34px;
  transform: rotate(90deg) translateX(-25%);
}

.temp-rotate-vertical-3 {
  width: 38px;
  height: 100px;
}

.temp-rotate-vertical-3 > .three-length-piece.vertical {
  width: 100px;
  height: 34px;
  transform: rotate(90deg) translateX(-33%);
}

.temp-rotate-vertical-2 {
  width: 38px;
  height: 67px;
}

.temp-rotate-vertical-2 > .two-length-piece.vertical {
  width: 67px;
  height: 34px;
  transform: rotate(90deg) translateX(-50%);
}

.disabled-image {
  filter: contrast(0%);
}

button.gameboard-cell:enabled:active {
  box-shadow: inset 0 0 5px 0px #232b2b;
}

.gameboard-cell img.attack-results {
  width: 95%;
  height: 95%;
}